body {
  background-color: purple;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 55px;
}

.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 1rem;
}

h1 {
  color: orange;
  text-align: center;
  font-size: 55px;
  text-shadow: 3px 3px 3px rgb(197, 88, 16);
}

h2 {
  color: orchid;
  text-align: center;
  font-size: 25px;
  padding-right: 55px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 15%;
  margin-bottom: 4%;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: rgb(230, 215, 233);
  transform-style: preserve-3d;
  height: 230px;
  width: 250px;
  cursor: pointer;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.card:hover {
  box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.card.flip {
  --rotate-y: 180deg;
  box-shadow: 5px 10px rgba(31, 30, 30, 0.5);
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.flashcard-options {
  margin-top: 0.5rem;
}

.flashcard-option {
  margin-top: 0.25rem;
  color: #555;
  font-size: 0.8rem;
}
